---
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: {{ DB_PASSWORD }}
      POSTGRES_DB: {{ DB_NAME }}
    volumes:
      - /opt/postgres/data:/var/lib/postgresql
    networks:
      - netbox
  redis:
    image: redis
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    environment:
      REDIS_PASSWORD: {{ REDIS_PASSWORD }}
    volumes:
      - /opt/redis/data:/data
    networks:
      - netbox
  netbox:
    image: lscr.io/linuxserver/netbox:latest
    container_name: netbox
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - SUPERUSER_EMAIL={{ SUPERUSER_EMAIL }}
      - SUPERUSER_PASSWORD={{ SUPERUSER_PASSWORD }}
      - ALLOWED_HOST={{ ALLOWED_HOST }}
      - DB_NAME={{ DB_NAME }}
      - DB_USER={{ DB_USER | default('postgres') }}
      - DB_PASSWORD={{ DB_PASSWORD }}
      - DB_HOST={{ DB_HOST | default('postgres') }}
      - DB_PORT={{ DB_PORT }}
      - REDIS_HOST={{ REDIS_HOST | default('redis') }}
      - REDIS_PORT={{ REDIS_PORT }}
      - REDIS_PASSWORD={{ REDIS_PASSWORD }}
      - REDIS_DB_TASK={{ REDIS_DB_TASK }}
      - REDIS_DB_CACHE={{ REDIS_DB_CACHE }}
      - BASE_PATH= #optional
      - REMOTE_AUTH_ENABLED= #optional
      - REMOTE_AUTH_BACKEND= #optional
      - REMOTE_AUTH_HEADER= #optional
      - REMOTE_AUTH_AUTO_CREATE_USER= #optional
      - REMOTE_AUTH_DEFAULT_GROUPS= #optional
      - REMOTE_AUTH_DEFAULT_PERMISSIONS= #optional
    volumes:
      - /opt/netbox/config:/config
      - /opt/netbox/certs:/certs
    ports:
      - 8000:8000
    restart: unless-stopped
    networks:
      - netbox

networks:
  netbox:
